*{
    margin:0px; 
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    display: flex;
    justify-content:center;
    align-items: center;
}

.content-bg {
    background-image: url("../../v2/images/hader-bg.png");
    background-repeat:no-repeat;
    background-size: 100% 204px;
    width: 100%;
    max-width: 500px;
    min-height: 204px;
}

.header-bg {
    position: flex;
    margin-top: 36px;
    margin-left: 32px;
    align-items: center;
}

.header-logo {
    width: 32px;
    height: 32px;
}

.header-main-name {
    margin-left: 3px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.main-title-bg {
    margin-top: 17px;
}

.main-title {
    width: 100%;
    font-size: 24px;
    color: white;
    font-weight: 500;
    text-align: center;
    white-space: pre;
}

.main-subtitle-bg {
    margin-top: 17px;
    margin-left: 32px;
    margin-right: 32px;
}

.main-subtitle {
    margin-left: 3px; 
    font-size: 14px;
    color: white;
    font-weight: lighter;
}

.tips-content {
    margin-top: 90px;
    margin-left: 41px;
}

.tips-cell {
    display: flex;
    height: 60px;
    align-items: center;
}

.tips-icon {
    width: 32px;
    height: 32px;
}

.tips-text-content {
    margin-left: 15px;
}

.tips-text-title {
    font-size: 14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    line-height:20px;
    color: #333333;
}

.tips-text-subtitle {
    font-size: 12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    line-height:20px;
    color: #666666;
}